@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Dancing+Script:wght@400..700&family=Lobster&display=swap');


.hero {
    margin-top: 13vh;
    min-height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    animation-name: in;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.catchPhrase {
    font-size: 2.5rem;
    font-family: 'Bodoni Moda';
    color: rgb(213, 173, 146);   
    margin-bottom: 0; 
}

.catchPhrase span {
    font-family: 'Dancing Script';
    color: rgb(231, 120, 10);
}

.hero p {
    margin-top: 0;
   font-family: 'Dancing Script'; 
   color: rgb(236, 183, 146); 
}

.hero img {
    max-width: 8rem;
    background: transparent;
    animation-name: in;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

@keyframes in {
  0% {
    transform: translateX(-100vw);
  }

  60% {
    transform: translateX(10vw);
  }

  80% {
    transform: translateX(-2vw);
  }

  100% {
    transform: translateX(0);
  }
}