@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.container {
    color: rgb(231, 219, 204);
    display: flex;
    align-items: center;
}

.container div {
    flex: 1;
    size: 2px;
    font-size: 0.7rem;
    margin: 1rem;
    
}

.container p {
    font-family: cursive;
}

.container h3 {
    font-family: 'Dancing Script';
    font-size: 1.4rem;
    color: rgb(165, 135, 98);
}

.links {
    color: white;
    bottom: 0;
    text-align: center;
}

.links :hover {
    transform: scale(1.1);
}

@media screen and (max-width: 640px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}