@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Dancing+Script:wght@400..700&family=Lobster&family=Supermercado+One&display=swap');

.container {
    display: flex;
}

.cardContainer {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.checkBoxes {
    font-family: Lobster;
    display: flex;
    flex-direction: column;
    color: rgba(223, 148, 36, 0.813);
    padding: 0.3rem;
    margin: 0.3rem;
}

.searchinput {
    border: 1px solid rgba(212, 169, 81, 0.553);
    border-radius: 1.6rem;
    text-align: center;
    color: rgba(227, 205, 172, 0.813);
    background: none;
    outline: none;
    min-height: fit-content;
    padding: 0.3rem;
    backdrop-filter: blur(2px);
}

.search {
    margin: 10Vh 2vw;
    max-height: fit-content;
    position: sticky;
    top: 15vh;
    backdrop-filter: blur(6px);
}

